src/META-INF/wsdl/localhost_17811/WebServicePlantillaProductos/NewWebServiceStock.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="NewWebServiceStock">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:17811/WebServicePlantillaProductos/NewWebServiceStock?xsd=1"/>
</xsd:schema>
</types>
<message name="varificarProducto">
<part name="parameters" element="tns:varificarProducto"/>
</message>
<message name="varificarProductoResponse">
<part name="parameters" element="tns:varificarProductoResponse"/>
</message>
<message name="listaProducto">
<part name="parameters" element="tns:listaProducto"/>
</message>
<message name="listaProductoResponse">
<part name="parameters" element="tns:listaProductoResponse"/>
</message>
<message name="actualizaSctock">
<part name="parameters" element="tns:actualizaSctock"/>
</message>
<message name="guardarRegistro">
<part name="parameters" element="tns:guardarRegistro"/>
</message>
<portType name="WebServiceStock">
<operation name="varificarProducto">
<input wsam:Action="http://webService/WebServiceStock/varificarProductoRequest" message="tns:varificarProducto"/>
<output wsam:Action="http://webService/WebServiceStock/varificarProductoResponse" message="tns:varificarProductoResponse"/>
</operation>
<operation name="listaProducto">
<input wsam:Action="http://webService/WebServiceStock/listaProductoRequest" message="tns:listaProducto"/>
<output wsam:Action="http://webService/WebServiceStock/listaProductoResponse" message="tns:listaProductoResponse"/>
</operation>
<operation name="actualizaSctock">
<input wsam:Action="http://webService/WebServiceStock/actualizaSctock" message="tns:actualizaSctock"/>
</operation>
<operation name="guardarRegistro">
<input wsam:Action="http://webService/WebServiceStock/guardarRegistro" message="tns:guardarRegistro"/>
</operation>
</portType>
<binding name="WebServiceStockPortBinding" type="tns:WebServiceStock">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="varificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaSctock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="guardarRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="NewWebServiceStock">
<port name="WebServiceStockPort" binding="tns:WebServiceStockPortBinding">
<soap:address location="http://localhost:17811/WebServicePlantillaProductos/NewWebServiceStock"/>
</port>
</service>
</definitions>