src/META-INF/wsdl/localhost_17811/WebServicePlantillaProductos/NewWebServiceStock.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService/">

<xs:element name="actualizaSctock" type="tns:actualizaSctock"/>

<xs:element name="guardarRegistro" type="tns:guardarRegistro"/>

<xs:element name="listaProducto" type="tns:listaProducto"/>

<xs:element name="listaProductoResponse" type="tns:listaProductoResponse"/>

<xs:element name="varificarProducto" type="tns:varificarProducto"/>

<xs:element name="varificarProductoResponse" type="tns:varificarProductoResponse"/>

<xs:complexType name="varificarProducto">
<xs:sequence>
<xs:element name="numeroSalida" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="varificarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaProducto">
<xs:sequence>
<xs:element name="sku" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:stock" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stock">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="sku" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaSctock">
<xs:sequence>
<xs:element name="cantidadSalida" type="xs:int"/>
<xs:element name="sku" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarRegistro">
<xs:sequence>
<xs:element name="sp" type="tns:salidaProducto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salidaProducto">
<xs:sequence>
<xs:element name="cantidadSalida" type="xs:int"/>
<xs:element name="nuemroSalida" type="xs:int"/>
<xs:element name="sku" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>